<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Franco Mauricio Cuello</title>
    <link href="/css/home.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="xxx" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="header">
        <nav class="nav-menu">
            <a href="#home">Home</a>
            <a href="#aboutme">Sobre mi</a>
            <a href="#proyects">Proyectos</a>
            <a href="#skill">Habilidades</a>
            <a href="#contact">Contactame</a>
        </nav>
    </div>
    <div class="navbar">
        <div class="navbar-Nombre">
            <h3 class="navbar-Nombre2">Franco</h3>
        </div>
        <div class="burguer">
            <li class="nav-item">
                <a href="#home" class="nav-link" >Home</a>
            </li>
            <li class="nav-item">
               <a href="#aboutme" class="nav-link">Sobre mi</a>
            </li>
            <li class="nav-item">
                <a href="#proyects" class="nav-link">Proyectos</a>
            </li>
            <li class="nav-item">
                <a href="#skill" class="nav-link">Habilidades</a>
              </li>
            <li class="nav-item">
              <a href="#contact" class="nav-link">Contactame</a>
             </li>
        </div>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
    <div id="root">
    <nav class="encabezado"></nav>
    <section class="home" id="home">
        <div class="containerHomeVideo">
        <video muted autoplay loop class="video" src="images/compumen.mp4" ></video>
        <h1 class="tituloHome">
                <span class="typed"></span> </h1>
        <div class="titulo" id="cadenas-texto">
            <p class="titulo1">Hi! I'm <span class="titulo-span"> Franco Mauricio Cuello</span></p>
            <p class="titulo1">Hola! Soy <span class="titulo-span"> Franco Mauricio Cuello</span></p>
        </div>    
        <h2 class="titulo2Home text-type">Desarrollador Web Full Stack</h2>
        </div>
    </section>
    <section class="about" id="aboutme">
        <div class="aboutContainer">
            <h1>Acerca de mi</h1>
            <br>
            <div><a href="/">home</a></div>
       
        <p> Buscando mejorar mis habilidades en un nuevo mundo que empecé a conocer dentro de la programación, aprendiendo de manera constante y autodidacta.</p>
        <p> Entendiendo bien las habilidades blandas para llegar a un objetivo con tu equipo.</p>
        <p> Creo que una habilidad importante en un equipo es mejorar tu empatía con las personas, para poder entenderlos y llegar a una mejor comunicación.</p>
        
        <div class="button-CVespañol-1">
                <a class="button-CVespañol-2" href="https://drive.google.com/file/d/18FDG6pSXO22pBea0LnAuEy567lpf7YOE/view?usp=share_link" >
                   <span>Mi CV</span> 
                   <div class="liquid"></div>
                </a>
                
        </div>
        </div>  
        <div class="miYo-1">
                <img class="miYo-2" src="/images/miYo.jpeg" alt="">
         </div>
        
       
    </section>
    <section class="proyects" id="proyects">
        <div class="containerTitulo">
            <H2>MIS PROYECTOS</H2>
            <div class="proyect-pc" >
                
                
            </div>
        </div>
        <!-- <div class="containerProyectos">
              <div class="ProyectOracle">
                  <h3>oracle wines</h3>
              </div>         
        </div> -->
        <div class="containerCard">
            <div class="card" id="oracle">
                <div class="content">
                    <h2>01</h2>
                    <h3>card Uno</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore hic alias facere, beatae omnis itaque fugiat in eligendi. Eius aliquid alias ratione ut iure facere praesentium maxime repellendus illo reiciendis!</p>
                    <img src="https://oraclewines.onrender.com/" alt="oracle" ><a href="https://oraclewines.onrender.com/">Oracle</a></img>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <h2>02</h2>
                    <h3>Proximamente</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore hic alias facere, beatae omnis itaque fugiat in eligendi. Eius aliquid alias ratione ut iure facere praesentium maxime repellendus illo reiciendis!</p>
                </div>
            </div>
          </div>
        
    </section>
    <section class="skills" id="skill">
        <div class="tituloSkills">TECNOLOGIAS </div>
        <div class="iconosSkills"> 
            <div class="cards-habilidades">
                <img class="iconoTech" src="/images/html.png" alt="html">
                <p class="skillNombre">HTML</p>
            </div>
            <div class="cards-habilidades">
                <img class="iconoTech" src="/images/css.png" alt="css">
                <p class="skillNombre">CSS</p>
            </div>
            <div class="cards-habilidades">
                <img class="iconoTech" src="/images/express.png" alt="express">
                <p class="skillNombre">EXPRESS</p>
            </div>
            <div class="cards-habilidades">
                <img class="iconoTech" src="/images/react.png" alt="react">
                <p class="skillNombre">REACT</p>
            </div>
            <div class="cards-habilidades">
                <img class="iconoTech" src="/images/node.png" alt="node">
                <p class="skillNombre">NODE</p>
            </div>
            <div class="cards-habilidades">
                <img class="iconoTech" src="/images/git.png" alt="git">
                <p class="skillNombre">GIT</p>
            </div>
            <div class="cards-habilidades">
                <img class="iconoTech" src="/images/github.png" alt="github">
                <p class="skillNombre">GITHUB</p>
            </div>
            <div class="cards-habilidades">
                <img class="iconoTech" src="/images/js.png" alt="js">
                <p class="skillNombre">JavaScript</p>
            </div>
            <div class="cards-habilidades">
                <img class="iconoTech" src="/images/mongodb.png" alt="mongodb">
                <p class="skillNombre">MongoDB</p>
            </div>
            <div class="cards-habilidades">
                <img class="iconoTech" src="/images/mysql.png" alt="mysql">
                <p class="skillNombre">MYsql</p>
            </div>    
        </div>
    </section>
    <section class="contact" id="contact">
        <div class="containerCard1">
            
          </div>

    </section>    
    
    </div>   
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="js/main.js"></script> 
    <script src="js/script.js"></script>
    <script type="text/javascript" src="js/vanilla-tilt.js"></script>
    <script>
        VanillaTilt.init(document.querySelectorAll(".card"), {
            max: 25,
            speed: 400,
            glare: true,
            "max-glare": 1,
        });
    </script>
</body>
</html>