<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Franco Mauricio Cuello</title>
    <link href="/css/home.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="xxx"
        crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,600&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="header">
        <nav class="nav-menu">
            <a href="#home">Home</a>
            <a href="#aboutme">About Me</a>
            <a href="#proyects">Projects</a>
            <a href="#skill">Skills</a>
            <a href="#contact">Contact Me</a>
            <div class="idioma">
                <span class="en">English</span>
                <input type="checkbox" id="cbox1"class="check-0">
                <span class="es">Spanish</span>
            </div>
        </nav>
    </div>
    <div class="navbar">
        <div class="navbar-Nombre">
            <h3 class="navbar-Nombre2">Franco</h3>
        </div>
        <div class="burguer">
            <li class="nav-item">
                <a href="#home" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="#aboutme" class="nav-link">About Me</a>
            </li>
            <li class="nav-item">
                <a href="#proyects" class="nav-link">Projects</a>
            </li>
            <li class="nav-item">
                <a href="#skill" class="nav-link">Skills</a>
            </li>
            <li class="nav-item">
                <a href="#contact" class="nav-link">Contact Me</a>
            </li>
            <li class="nav-item">
                <div class="idioma">
                    <span class="en">English</span>
                    <input type="checkbox" id="cbox2" class="check" >
                    <span class="es">Spanish</span>
                </div>
            </li>
        </div>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
    <div id="root">
        <nav class="encabezado"></nav>
        <section class="home" id="home">
            <div class="containerHomeVideo">
                <video muted autoplay loop class="video" src="images/compumen.mp4"></video>
                <h1 class="tituloHome">
                    <span class="typed"></span>
                </h1>
                <div class="titulo" id="cadenas-texto">
                    <p class="titulo1">Hi! I'm <span class="titulo-span"> Franco Mauricio Cuello</span></p>
                    <p class="titulo1">Hola! Soy <span class="titulo-span"> Franco Mauricio Cuello</span></p>
                </div>
                <h2 class="titulo2Home text-type">Web Developer Full Stack</h2>
            </div>
        </section>
        <section class="about" id="aboutme">
            <div class="aboutContainer" data-aos="zoom-in"
            data-aos-duration="1000">
                <h1 class="about-me">ABOUT ME</h1>
                <br>
                <!-- <div><a href="/">home</a></div> -->
                <p> I am passionate about web development. Since the beginning of 2022, I have been immersed in the world of technology, and I have discovered my true vocation in programming.</p>
                <P> My experience is focused on the development of websites and custom web applications. I also have experience in the integration of APIs</P>
                <P> In addition to my technical experience, I am an organized, committed and proactive person. I always seek to improve myself and add value to each project in which I participate. I love learning new things and I am open to receiving feedback so that I can improve every day. Seeking to improve my skills in a new world that I began to know within programming, constantly learning and self-taught.</P>
                <p> Seeking to improve my skills in a new world that I began to know within programming,
                    constantly learning and self-taught.</p>
                <p> Understanding soft skills well to reach an objective with your team.</p>
                <p> I think an important skill in a team is to improve your empathy with people, to be able to
                    understand them and reach a better communication.</p>

                <div class="button-CVespañol-1">
                    <a class="button-CVespañol-2"
                        href="https://drive.google.com/file/d/1rHkjvOnTiuF3Bp2aMur2qYQTwlcICZkc/view?usp=share_link">
                        <span>My Resume</span>
                        <div class="liquid"></div>
                    </a>

                </div>
            </div>
            <div class="miYo-1" data-aos="zoom-in"
            data-aos-duration="3000">
                <img class="miYo-2" src="/images/miYo.jpeg" alt="">
            </div>


        </section>
        <section class="proyects" id="proyects">
            <div class="containerTitulo">
                <H2>MY PROJECTS</H2>
                <div class="proyect-pc">


                </div>
            </div>
            <!-- <div class="containerProyectos">
              <div class="ProyectOracle">
                  <h3>oracle wines</h3>
              </div>         
        </div> -->
            <div class="containerCard"  data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000">
                <div class="card" id="oracle" >
                    <div class="content">
                        <h2 class="number-oracle">01</h2>
                        <h3>Oracle Wines</h3>
                        <p>E-commerce on the sale of all kinds of wines
                            Oriented to both young and adult audiences. Project created with mysql database,
                            using CRUD for products and users, according to customer expectations
                        </p>
                        <a href="https://oraclewines.onrender.com/">Oracle</a>
                    </div>
                </div>
                <div class="card" id="dashboardOracle">
                    <div class="content">
                        <h2 class="number-dashboard">02</h2>
                        <h3>Dashboar React</h3>
                        <p>Dashboard of the Oracle Wines e-commerce project created with React, Api fetch,  in which the owner of the
                            e-commerce can keep track of its products and customers                   </p>
                        <a href="https://proyectoreact.onrender.com/">Dashboar React</a>
                    </div>
                </div>
                <div class="card" id="apiclima" >
                    <div class="content">
                        <h2 class="number-dashboard">03</h2>
                        <h3>Api del Clima</h3>
                        <p>I have used the Axios library to handle the HTTP requests and get the data from the weather APIs. To manage the communication between the application and the weather APIs.</p>
                        <a href="https://apiclima.onrender.com/">Api del Clima</a>
                    </div>
                </div>
                <div class="card" id="netflix-clone">
                    <div class="content">
                        <h2 class="number-dashboard">04</h2>
                        <h3>Practice-Next.js</h3>
                        <p>Practice of an application with Next.js, Tailwind CSS and TypeScript. MongoDB as a database and the ORM Prisma for data management. Additionally, it integrates with Axios to make HTTP requests.  </p>
                        <a href="https://practica-next-js-pi.vercel.app/auth">Clone-netflix</a>
                    </div>
                </div>
                <div class="card" id="peluqueria">
                    <div class="content">
                        <h2 class="number-dashboard">05</h2>
                        <h3>Peluqueria SPA</h3>
                        <p> Practice of an application with Next.js, Tailwind CSS and TypeScript. Hairdresser where the client can take a turn by filling in their information, confirming through an email message to the owner and the client. </p>
                        <a href="https://proyect-peluqueria-iupkojysy-francmauric.vercel.app/">Hairdresser-SPA</a>
                    </div>
                </div>
            </div>

        </section>
        <section class="skills" id="skill" data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="1500">
            <div class="tituloSkills">TECHNOLOGIES </div>
            <div class="iconosSkills">
                <div class="cards-habilidades">
                    <img class="iconoTech" src="/images/html.png" alt="html">
                    <p class="skillNombre">HTML</p>
                </div>
                <div class="cards-habilidades">
                    <img class="iconoTech" src="/images/css.png" alt="css">
                    <p class="skillNombre">CSS</p>
                </div>
                <div class="cards-habilidades">
                    <img class="iconoTech" src="/images/express.png" alt="express">
                    <p class="skillNombre">EXPRESS</p>
                </div>
                <div class="cards-habilidades">
                    <img class="iconoTech" src="/images/react.png" alt="react">
                    <p class="skillNombre">REACT</p>
                </div>
                <div class="cards-habilidades">
                    <img class="iconoTech" src="/images/node.png" alt="node">
                    <p class="skillNombre">NODE</p>
                </div>
                <div class="cards-habilidades">
                    <img class="iconoTech" src="/images/git.png" alt="git">
                    <p class="skillNombre">GIT</p>
                </div>
                <div class="cards-habilidades">
                    <img class="iconoTech" src="/images/github.png" alt="github">
                    <p class="skillNombre">GITHUB</p>
                </div>
                <div class="cards-habilidades">
                    <img class="iconoTech" src="/images/js.png" alt="js">
                    <p class="skillNombre">JavaScript</p>
                </div>
                <div class="cards-habilidades">
                    <img class="iconoTech" src="/images/mongodb.png" alt="mongodb">
                    <p class="skillNombre">MongoDB</p>
                </div>
                <div class="cards-habilidades">
                    <img class="iconoTech" src="/images/mysql.png" alt="mysql">
                    <p class="skillNombre">MYsql</p>
                </div>
                <div class="cards-habilidades">
                    <img class="iconoTech" src="/images/figma.png" alt="figma">
                    <p class="skillNombre">Figma</p>
                </div>
                <div class="cards-habilidades">
                    <img class="iconoTech" src="/images/TailwindCSS.png" alt="TailwindCSS" width="39%">
                    <p class="skillNombre">Tailwind CSS</p>
                </div>
                <div class="cards-habilidades">
                    <img class="iconoTech" src="/images/nextjs.png" alt="Next.js">
                    <p class="skillNombre">Next.js</p>
                </div>
                <div class="cards-habilidades">
                    <img class="iconoTech" src="/images/prisma.png" alt="Prisma">
                    <p class="skillNombre">Prisma</p>
                </div>
                <div class="cards-habilidades">
                    <img class="iconoTech" src="/images/sequelize.png" alt="Sequelize" >
                    <p class="skillNombre">Sequelize</p>
                </div>
                <div class="cards-habilidades">
                    <img class="iconoTech" src="/images/typescript.png" alt="typescript" >
                    <p class="skillNombre">Typescript</p>
                </div>
                <div class="cards-habilidades">
                    <img class="iconoTech" src="/images/wordpress.jpg" alt="Wordpress" >
                    <p class="skillNombre">Wordpress</p>
                </div>
                
            </div>
        </section>
        <section class="contact" id="contact">
            <div class="titulo-contacto">
                <div class="contact1">
                    CONTACT
                </div>
                <form action="https://formsubmit.co/francocuello10@gmail.com" method="POST" class="formulario" data-aos="fade-up"
                data-aos-anchor-placement="center-bottom">
                    <input type="text" placeholder="Name" class="text">
                    <input type="email" placeholder="E-mail" class="email">
                    <input type="text" placeholder="Subject" class="text-asunto">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Message" class="textarea"></textarea>
                    <div class="submit-0">
                        <span id="span1"></span>
                        <span id="span2"></span>
                        <span id="span3"></span>
                        <span id="span4"></span>
                        <input type="submit" class="submit" placeholder="Send">
                    </div>
                </form>
            </div>

            <div class="location" data-aos="fade-up"
            data-aos-anchor-placement="bottom-bottom">
                <div class="referencia-location"> Where I am now:
                </div>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12344912.429261185!2d3.721833800717764!3d40.93997634648859!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12d4fe82448dd203%3A0xe22cf55c24635e6f!2sItalia!5e0!3m2!1ses-419!2sit!4v1673211965646!5m2!1ses-419!2sit"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade" class="map"></iframe>
            </div>
        </section>
        <footer>
            <!-- <div class="idioma">
                <span class="en">English</span>
                <input type="checkbox" class="check">
                <span class="es">Spanish</span>
            </div> -->
            <div class="container-redes">
                <a href="https://github.com/francmauric?tab=repositories">
                    <img src="/images/icon-github.png" alt="Github"></a>
                <a href="https://www.linkedin.com/in/francocuellodeveloper/">
                    <img src="/images/iconlinkedin.png" alt="linkedin"></a>
            </div>
        </footer>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="js/main.js"></script>
    <script src="js/script.js"></script>
    <script type="text/javascript" src="js/vanilla-tilt.js"></script>
    <script>
        VanillaTilt.init(document.querySelectorAll(".card"), {
            max: 25,
            speed: 400,
            glare: true,
            "max-glare": 1,
        });
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            delay: 100,
            duration: 1000,
        });
    </script>
    <script src="js/idioma.js"></script>
</body>

</html>