*{
    text-decoration: none;
    
}
body{

    box-sizing: border-box;
    font-family: 'Roboto Serif', serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  /*   background-image: url("/images/piscis.png");
    background-size: contain;
    background-position: center; */
}
/* ------nav - menu -------*/
@media screen and (min-width: 980px){
.header{
    justify-content: flex-end;
    z-index: 2;
}
}
.header{
    display:none
}




@media(min-width:375px){
.burguer{
    display:none;
}
.header{
    display:block;
}
.header{
    background-color: var(--jet);
    padding: 2% 1%;
    right: 0;
    /* display: flex;
    justify-content: flex-end;
    align-items: center; */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .5s;
    backdrop-filter: blur(15px); 
    background: rgba(41,41,41,.3);
}
.header a{
    font-size: 1.3rem;
    padding: 0.5rem;
    color: #FFFFFF;
    font-family: 'Cooper Hewitt';
    text-decoration: none;
    letter-spacing: .1rem;
    right: 0;
    margin-right: 2.5rem;
}   
.header a:hover{
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    color: rgb(105, 5, 5);;
}
.hamburger{
    display:none;
}
.navbar{
    display: none;
}
}
.nav-menu{
    display: flex;
    justify-content: flex-end;
    width: auto;
    padding-right: 2%;
}

/*------- navbar de responsive ------*/

.navbar{
    min-height: 70px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:0 24px;
    width: 88%;
}
.navbar-Nombre{
    color: #bebebe;
}
.burguer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.nav-link{
    transition: 0.7s ease;
    color: cadetblue;
}
.nav-link:hover{
    color: rgb(105, 5, 5);
}
.hamburger{
    display: block;
    
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.8s ease-in-out;
    background-color: white;
}
@media (max-width: 375px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
        margin: none;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
        margin: none;
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        margin: none;
    }
    .burguer{
        position: fixed;
        left: -100%;
        top:70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align:center;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
        list-style: none;
    }
    .burguer.active{
        left:0;
    }
    .navbar{
        position: fixed;
        z-index: 1;
        backdrop-filter: blur(15px);
        background: rgba(41,41,41,.3);
    }
}

 
/* ------ home ------- */
.containerHomeVideo {
   
    box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 60%);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-end;
    object-fit: contain;
   
    
}
.video {
    height: 100%;
    object-fit: cover;
    position: absolute;
    width: 100%;
    z-index: -1;
}
.titulo-span{
    color: #6d0f1c;
    font-size: 60px;
}
.titulo1{
    font-size: 25px;
}

.tituloHome{
    font-size: 300%;
    color: antiquewhite;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.titulo2Home{
    padding: 20px;
    color: antiquewhite;
    align-items: center;
    text-transform: uppercase;
    text-align: start;
}
/* .text-type {
    position: relative;
} */
/* .text-type::after {
    content: '|';
    font-weight: bold;
    position: absolute;
    right: 0;
    color: var(--beaver);
    background-color: var(--jet);
    width: 100%;
    animation: typing 4s steps(28) alternate infinite;
} */

/* about */

 /* animation CV */
/*
.container-cvES{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: #B1B3CF;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4 px solid #B1B2CF;
    padding: 5px;
    box-shadow: 0px 0px 15px #686FFD;
}
.btn{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2B3241;
    border-radius: 25px;
    transition: all 1s;

}

a{
    color: white;
    position: absolute ;    
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    width: 100%;
    margin: auto;
    transition: all 1s;
    opacity: 0;
}
i {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    color: #686FFD;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}
.btn:hover i {
    transform: rotate(360deg);
} 
.btn:hover{
    width: 150px;
    cursor: pointer;
}
.btn:hover a{
    animation: 2s display forwards;

}
@keyframes display {
    from{
        opacity:0;
    }
    to{
        opacity: 1;
    }
}

 */
 /* ------ about ------- */
.about-me{
    padding: 30px;
    width: 100%;
    color: antiquewhite;
    text-align: center;
}

.about{
    width: 100%;
   
    background-color: #262626;
    color: #eee;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.aboutContainer {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    display: flex;
    text-align: center;
    font-size: 20px;
    padding:10px;
}
.button-CVespa単ol-1{
    margin: 40px;
    display: flex;
    justify-content: center;
 }
/*  .button-CVespa単ol-2{
        width: 120px;
        padding: 10px 25px;
        border: 1px solid #f6f6f6;
        border-radius: 20px;
        color: #ffffff;
        background-color: #bebebe;
        margin: 40px;
        transition: 450ms;
        opacity: 1;
        text-decoration: none;
        
 } */
/* .button-CVespa単ol-2:hover {
    opacity: 1;
    background-color: #6d0f1c;
} */
/* intento de button con liquido */

.button-CVespa単ol-2{
    position: relative;
    padding: 20px 2px;
    display: block;
    text-decoration: uppercase;
    width: 200px;
    overflow: hidden;
    border-radius: 40px;
}
a span{
    position: relative;
    color: #fff;
    font-size: 20px;
    font-family: arial;
    letter-spacing: 8px;
    z-index: 1;
}
a .liquid {
    position: absolute;
    top: -80px;
    left: 0;
    width: 200px;
    height: 200px;
    background: #4973ff;
    box-shadow: inset 0 0 50px rgba(0,0,0,.5);
    transition: .5s;
}
a .liquid::after,
 a .liquid::before{
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-75%);
    background: #000;
}
a .liquid::before{
    border-radius: 45%;
    background: rgba(20,20,20,.1);
    animation: animate 5s linear infinite;
}
a .liquid::after{
    border-radius: 40%;
    background: rgba(20,20,20,.5);
    animation: animate 10s linear infinite;
}
a:hover .liquid{
    top: -120px;
}
@keyframes animate {
    0% {
        transform: translate(-50%,-75%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-75%) rotate(360deg);
    }
}







.miYo-1{
    width: 100%;
    height: 30%;
    margin: 20px;
    display: flex;
    justify-content: center;
}
.miYo-2{
    width:70%;
    margin: 2px;
    border-radius: 50%;
    object-fit:contain
}
@media(min-width:375px) {
    .miYo-1{
        width: 47%;
    }
    .aboutContainer{
        width: 48%;
    }
}



/* ------ proyects ------- */
.proyects{
    display: flex;
    width: 100%;
    text-align: center;   
    background-color: rgb(34, 34, 34);
    flex-wrap: wrap;
}
.containerTitulo{
    width: 100%;
    color: antiquewhite;
    text-align: center;
}
.containerProyectos{
    width: 100%;
    color: antiquewhite;
}

@media(min-width:375px){
    /* .containerTitulo{
        width: 47%;
    } */
    .containerProyectos{
        width: 50%;
    }
}
/* ------ skills ------- */
.skills{
    display: flex;
    width: 100%;
   /*  height: 20%; */
    text-align: center;   
    background-color: #262626;
    flex-wrap: wrap;
    
}
.tituloSkills{
    width: 100%;
    color: antiquewhite;
    text-align: center;
    height: 30px;
    padding: 30px;
    font-size: 25px;
}
.iconosSkills{
    width: 100%;
    color: antiquewhite;
    display:flex;
    height: 100%;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
        
}
.cards-habilidades{
    background-color: var(--eerie-black);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    filter: saturate(40%);
    width: 10rem;
    height: 14rem;
}
.cards-habilidades:hover{
    filter: saturate(100%);
}
.iconoTech:hover{
    background-color: #fff;
}
@media(min-width:375px){
    .cards-habilidades{
        width: 13rem;
    }
}  

@media screen and (min-width: 960px){
 .iconosSkills {
    
    margin: 1rem;
}
}

.iconoTech {
    
    border-radius: 100px;
    box-shadow: 0 0 40px 0 hsl(0deg 0% 43% / 52%);
    height: 5rem;
   
}



/* ------ contact ------- */
.contact{
    width: 100%;
    display: flex;
    /* height: 400px; */
    /* background: #161623; */
}

/* Proyectos- card */

.containerCard {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
    
  }
  .containerCard .card{
    position: relative;
    width: 280px;
    margin: 40px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
  }
  .containerCard .card .content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
  }
  .containerCard .card:hover .content{
    transform: translateY(0);
    opacity: 1;
  }
  .containerCard .card .content h2{
    position: absolute;
    top: -40%;
    right: 30px;
    font-size: 8em;
    /* color: rgba(255,255,255,0.085); */
    pointer-events: none;
  }
  .number-dashboard{
    color: rgba(255,255,255,0.085);
  }
  .containerCard .card .content h3{
    font-size: 1.8em;
    color: rgb(109, 0, 0);
    z-index: 1;
  }
  .containerCard .card .content p{
    font-size: 1em;
    color: rgb(72, 62, 62);
    font-weight: 300;
    background-color: #bebebe;
    border-radius: 10px ;
    
  }
  .containerCard .card .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  .containerCard .card .content a:hover{
    background-color: orangered;
  }
  #oracle{
    background-image: url("/images/logo.jpeg");
    background-size: contain;
    background-position: center;
  }
  .number-oracle{
  color: rgba(40 38 38 / 9%);
  }


  /* contact */

  .contact{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(34, 34, 34);
  }
  .location{
    padding: 10px;
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    
  }
  .referencia-location{
    font-size: 15px;
    color: #fff;
    padding-bottom: 10px;
    text-align: center;
    display: flex;
    width: 100%;

  }
  .formulario{
    padding: 10px;
  }
  .map{

    width: 100%;
    border-radius: 15px;
  }

  .titulo-contacto{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .text, .email, .text-asunto, .textarea{
    padding: 8px;
    border-radius: 10px;
    margin: 10px;
    width: 100%;
  }
  textarea{

  }
  @media(max-width:375px){
    .location{
        width: 90%;
    }
    .titulo-contacto{
        width: 80%;
    }
}
  .contact1{
    font-size: 25px;
    color: antiquewhite;
    display: flex;
    padding: 30px;

  }
  .text{

  }
  .submit{
    background: none;
   /*  border-color: #6d0f1c;
    border-radius: 50px; */
    width: 100%;
    color: #fff;
    padding: 0;
    letter-spacing: 4px;
    font-size: 15px;
    margin: 0;
    border: 0;
  }
  .submit-0{
    position: relative;
    display: inline-block;
    width: 40%; 
    padding: 10px 20px;
    color: #fff;
    border-radius: 50px;
    overflow: hidden;
    transition: 0.2s;
    text-align: center;
    justify-content: center;
    margin-left: 30%;
  }
  .submit-0:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1.25s;
}
  .submit-0 span{
    position:absolute;
    display: block;
    border: #fff;
    margin: 0%;
  }
  #span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#a945c7);
  }
  .submit-0:hover #span1{
    left: 100%;
    transition: 1s;
  }
  #span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#a945c7);
  }
  .submit-0:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s
  }
  #span2{
    top: -100%;
    right: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#a945c7);
  }
  .submit-0:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s
  }
  #span4{
    bottom: -100;
    left: 0%;
    width: 10px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#a945c7);
  }
  .submit-0:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s
  }


  /* footer - idioma */

  .en{
    color:#333;
    font-size: 10px;
  }
  .es{
    color: #00a1ff;
    font-size: 10px;
  }
  .check{
    position: relative;
    width: 40px;
  }
  .check:before{
    content: "";
    position: absolute;
    width: 40px;
    height: 20px;
    background: #333;
    border-radius: 25px;
  }
  .check:after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid #333;
    box-sizing: border-box;
}
.check:checked::after{
    left: 20px;
    border:2px solid #00a1ff;
}
.check:checked:before{
    background: #00a1ff;
}
footer{
    display: flex;
    justify-content: center;
    background-color: rgb(34, 34, 34);
}
.container-redes{
    border-top: 1px solid rgb(84, 84, 84);
    width: 80%;
    display: flex;
    justify-content: center;
   
}
.container-redes img{
    width: 60%;
}